<div class="course-card" [ngClass]="esPrincipiante()">

    <div class="course-title">
        {{ cardIndex + ' ' + curso.description }}
    </div>
    <img width="300" alt="Angular Logo" *ngIf="curso.iconUrl else noImg;"
         [src]="curso.iconUrl">

    <ng-template #noImg>
        <p>No hay imagen</p>
    </ng-template>

    <div class="course-description">
        {{ curso.longDescription }}
    </div>

    <!-- 
        eventos nativos de navegador propagan el evento (bubble) ej: (click)
        eventos personalizados no propagan nada ej: onCourseViewed
        <button (click)="onClick()">evento click (bubble)</button>
    -->
    
    <button (click)="onCourseViewed()">Ver curso</button>

</div>
