<div class="top-menu">

    <img class="logo"
         src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>


<div class="courses">

    <!--<course-card (click)="onClick()" [curso]="angularCore"></course-card>-->
    <course-card (courseSelected)="onCourseSelected($event)" [curso]="angularCore"></course-card>
    <course-card (courseSelected)="onCourseSelected($event)" [curso]="rxjs"></course-card>
    <course-card (courseSelected)="onCourseSelected($event)" [curso]="ngrx"></course-card>

</div>


