<div class="top-menu">
    <img class="logo" src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">
</div>


<div class="courses">

    <!--<course-card (click)="onClick()" [curso]="angularCore"></course-card>
    <course-card (courseSelected)="onCourseSelected($event)" [curso]="angularCore"></course-card>
    <course-card (courseSelected)="onCourseSelected($event)" [curso]="rxjs"></course-card>
    <course-card (courseSelected)="onCourseSelected($event)" [curso]="ngrx"></course-card>-->

    <course-card
     *ngFor="let curso of cursos;
        index as i;
        first as esPrimero;
        last as esUltimo;
        even as esPar;
        odd as esImpar;"
     [curso]="curso"
     [cardIndex]="i+1"
     [class.is-first]="esPrimero"
     [class.is-odd]="esImpar"
     [class.is-even]="esPar"
     [class.is-last]="esUltimo"
     (courseSelected)="onCourseSelected($event)">
    </course-card>

</div>

<div class="demo">
    <h2>Pipes</h2>

    <h3>keyvalue</h3>
    <div *ngFor="let clave_valor of angularCore | keyvalue">
        {{ clave_valor.key }} : {{clave_valor.value}}
    </div>

    <h3>json</h3>
    {{ angularCore | json }}

</div>


